<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <%= form_for(:session, :url => admin_sessions_path) do |f| %>
        <h3 class="form-title">Sign In</h3>

        <% if !alert.nil? %>
            <div class="alert alert-danger hiddden">
                <button class="close" data-close="alert"></button>
                <span>
                Enter valid username and password. </span>
            </div>
        <% end %>

        <div class="form-group">
            <div class="field">
                <%= f.label(:email) %><br>
                <%= f.email_field(:email, :class => 'form-control placeholder-no-fix') %>
            </div>
            <div class="field">
                <%= f.label(:password) %><br>
                <%= f.password_field(:password, :class => 'form-control placeholder-no-fix') %>
            </div>
        </div>
        <div class="form-actions">
            <%= check_box_tag(:remember_me) %>
            <%= label_tag(:remember_me, "remember me") %>
            <%= f.submit(:login, :class => 'btn btn-success', :name => 'submit-button') %>
            <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
        </div>
    <% end %>
</div>