<div class="content">

  <%= form_for(@post, :url => admin_posts_path) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, {:class => 'form-control', :placeholder => 'Title'} %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :post %><br>
          <%= f.text_area(:post, {:rows => '5', :class => 'form-control', :placeholder => 'Some Text About Post'}) %>
        </div>
      </div>
    </div>

    <%= f.submit({:class => 'btn btn-info btn-fill pull-right'}) %>
    <div class="clearfix"></div>

  <% end %>
</div>