<p id="notice"><%= notice %></p>

<div class="row">

    <div class="col-md-12">
      <div class="card card-plain">
        <%= link_to 'Edit', edit_admin_post_path(@post), {:class => 'btn btn-default'} %>
        <%= link_to 'Back', admin_posts_path, {:class => 'btn btn-default'} %>
      </div>

      <div class="card">
          <div class="header">
              <h4 class="title">Listing Posts</h4>
              <p class="category">All your posts</p>
          </div>
          <p>
            <strong>Name:</strong>
            <%= @post.title %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @post.post %>
          </p>
      </div>
    </div>