<div class="content">
    <!-- BEGIN LOGIN FORM -->

    <%= form_for @admin_adminlogin do |f| %>
        <% if @admin_adminlogin.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@admin_adminlogin.errors.count, "error") %> prohibited this game from being saved:</h2>

            <ul>
            <% @admin_adminlogin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email %>
        </div>
        <div class="field">
            <%= f.text_field :password %><br>
            <%= f.text_area :password %>
        </div>
        <div class="actions">
            <%= f.submit :login %>
        </div>
    <% end %>

    <%= form_tag do %>
        <h3 class="form-title">Sign In</h3>
        <div class="alert alert-danger hiddden">
            <button class="close" data-close="alert"></button>
            <span>
            Enter any username and password. </span>
        </div>
        <%= text_field(:person, :username) %>
        <?= $form->field($model, 'username') ?>
        <?= $form->field($model, 'password')->passwordInput() ?>
        <div class="form-actions">
            <?= $form->field($model, 'rememberMe')->checkbox() ?>
            <?= Html::submitButton('Login', ['class' => 'btn btn-success', 'name' => 'login-button']) ?>
            <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
        </div>
    <% end %>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <?php $form = ActiveForm::begin(['id' => 'forget-form', 'options' => ['class' => 'forget-form', 'style' => 'display:none', 'novalidate'=>'novalidate']]); ?>

        <h3>Forget Password ?</h3>
        <p>
             Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email">
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default">Back</button>
            <?= Html::submitButton('Submit', ['class' => 'btn btn-success', 'name' => 'submit-button']) ?>
        </div>
    <?php ActiveForm::end(); ?>
    <!-- END FORGOT PASSWORD FORM -->
</div>