<!DOCTYPE html>
<html>

<head>
  <title>MaPanda Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <%= render 'favicon' %>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <!-- Static navbar -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">MaPanda</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#games">Our Games</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <%= yield %>

    <!-- Socialize -->
    <div id="social-area" class="page-alternate2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav id="social">
              <ul>
                <li>
                  <a href="https://twitter.com/MaPanda" title="Follow Us on Twitter" target="_blank">
                    <span class="icon-twitter-bird"></span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/games/botiafriends" title="Follow Us on Facebook" target="_blank">
                    <span class="icon-facebook-rect-1"></span>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCwrlL55cFXK0czCQ_Ixo5Aw" title="Subscribe Our Channel on Youtube" target="_blank">
                    <span class="icon-youtube-play"></span>
                  </a>
                </li>
                <li>
                  <a href="https://plus.google.com/mapanda" title="Follow Us on Google Plus" target="_blank">
                  <span class="icon-googleplus-rect"></span>
                </a>
                </li>
                <li>
                  <a href="http://www.linkedin.com/in/mapanda" title="Follow Us on LinkedIn" target="_blank">
                    <span class="icon-linkedin-rect"></span>
                  </a>
                </li>
                <li>
                  <a href="https://play.google.com/store/apps/developer?id=MataPanda" title="View our games on Google Playstore" target="_blank">
                    <span class="icon-google-play"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- End Socialize -->


    <!-- +++++ Footer Section +++++ -->
    <footer>
      <p class="credits">©2016 MaPanda Developer</p>
    </footer>
    <!-- End Footer -->


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>